.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 40px;
}
.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    width: 50%;
}
.about .left .p{
    margin: 1.2rem o;
}
.about .right{
    width: 50%;
}


@media screen and (max-width:640px) 
{.about .right, .about .left{
    width:100%;
        
}
}
